<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>{{ titulo }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal-outline" md="ellipsis-vertical-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated="true" showCancelButton="focus" placeholder="Descrição, cliente ..."
      cancelButtonText="Cancelar" (ionChange)="changeBusca($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <viewagenda [dados]="dados" [subjectBusca]="subjBusca"></viewagenda>
</ion-content>